/* fun */
@import "__def";
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
//funcs

@function gM ($num: 1) {
    @return $rem * $num;
}

@mixin dpix ($prop, $rem) {
    #{$prop}: $rem * 13px;
    #{$prop}: $rem * 1rem;
}

@mixin outline ($width: 4, $color: $hilite) {
    outline: {
        color: yellow; /* fallback */
        color: $color;
        offset: $width * -0.5px;
        style: auto;
        width: $width * 1px;
    }
}

@mixin setTrans($color, $opacity: 0.5) {
    background: $color; /* fallback */
    background: rgba($color, $opacity);
}

@mixin vgrad ($C1: white, $C2: black) {
    background-color: $C2;
    @include background-image( linear-gradient(top, $C1 20%, $C2 100%) );
}

@mixin diagrad ($C1: white, $C2: black) {
    background-color: $C2;
    @include background-image( linear-gradient(top left, $C1 0%, $C2 100%) );
}
@mixin fauxshad ($L1: 1px, $C1: black) {
    color: white;
    -webkit-text-stroke: $L1 $C1;
    text-shadow:
    3*$L1 3*$L1 0 $C1,
    2*$L1 2*$L1 0 $C1,
      $L1 2*$L1 0 $C1,
    2*$L1   $L1 0 $C1,
      $L1   $L1 0 $C1,
     -$L1   $L1 0 $C1,
     -$L1  -$L1 0 $C1,
      $L1  -$L1 0 $C1,
        0  -$L1 0 $C1;
}
@mixin stroke ($L1: 1px, $C1: white) {
   text-shadow:
     $L1   $L1  0  $C1,
       0   $L1  0  $C1,
    -$L1   $L1  0  $C1,
    -$L1     0  0  $C1,
    -$L1  -$L1  0  $C1,
     $L1  -$L1  0  $C1;
}
@mixin foreshad ($L1: 1px, $C1: white) {
    text-shadow:
    0 0 $L1 $C1,
    0 0 $L1 $C1,
    0 0 $L1 $C1,
    0 0 $L1 $C1,
    0 0 $L1 $C1,
    0 0 $L1 $C1,
    0 0 $L1 $C1,
    0 0 $L1 $C1;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
