/* mix */
@import "__fun";
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //

@mixin primeGrad1 () {
    @include background-image( linear-gradient(bottom, $cool2 0%, $cool3 100%) );
}
@mixin primeGrad2 () {
    @include background-image( linear-gradient(bottom, $cool2 0%, $cool1 100%) );
}
@mixin bgrad () {
    @include background-image( linear-gradient(top, white 33%, $beige 100%) );
}

//@include text-shadow($hoff, $voff, $blur, $spread, $color);
//@include  box-shadow($hoff, $voff, $blur, $spread, $inset, $color);

@mixin nosel () {
    -webkit-user-drag: none;
    @include user-select(none);
}

@mixin clearfix () {
    &:after {
        clear: both;
        content: "ย";
        display: table;
        /* clearfix */
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //

//* >^ยบ!ยบ^< */
