/* SWATCH */
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
* {
    -webkit-user-drag: none;
    @include box-sizing(border-box);
    @include user-select(none);
    @include smoothing(antialiased);
}
html, body {
    height: 100%;
}
body {
    @include diagrad();
    background-color: gray;
    color: rgba(0,0,0,0.8);
    font-family: 'arial black';
    overflow: hidden;
    padding: 1rem;

    @include backface-visibility( hidden );
    @include perspective( 100 );
    @include transform( scale(1) translate3d(0,0,0) rotate(0deg) );
    @include transform-style( preserve-3d );
    @include transition( all 0.125s ease-out 0 );

}
body div {
    @include texture;

    border: 3px outset gray;
    border-radius: 9px;
    height: 90%;
    margin-left: 12rem;
    width: 63rem;
}
p {
    @include strokes();
    background-color: rgba(222,222,222,0.2);
    border: 3px dashed transparent;
    border-radius: 0 18px 0 18px;
    box-shadow: 1px 2px 3px $shal;
    float: left;
    font-size: 16px;
    margin: 4px 8px;
    min-width: 6rem;
    padding: 5px 15px;

    &:hover {
        border: 3px dashed black;
    }
    &.mover {
        border: 3px dashed white;
        box-shadow: 2px 4px 6px $shad;
        opacity: 0.8;
    }
}
.hd {
    border: 0;
    clear: both;
    font-size: 26px;
    margin-bottom: -1rem;
    margin-left: -12rem;
    padding-top: 0;

    &:hover {
        border: 0;
        cursor: default;
    }
}
br {
    clear: left;
}
section {
    @include clearfix();
    border-top: 1px solid $hilite;
    box-shadow: 1px 2px 3px $shal;
    margin-left: -14rem;
    margin-right: -99rem;
    padding: 1rem;
    padding-left: 15rem;

    &:after {
        font-size: 0;
    }
}
.notes {
    position: absolute;
    right: 0;
    top: 0;

    p {
        float: right;
        clear: both;
        display: inline;
    }
}
/* */
._wf_gray         { background-color: $wf_gray;       }
._wf_red          { background-color: $wf_red;        }
._wf_yellow       { background-color: $wf_yellow;     }
._a_d_red         { background-color: $a_d_red;       }
._a_warmred       { background-color: $a_warmred;     }
._a_black         { background-color: $a_black;       }
._a_d_coolgray    { background-color: $a_d_coolgray;  }
._a_m_coolgray    { background-color: $a_m_coolgray;  }
._a_l_coolgray    { background-color: $a_l_coolgray;  }
._a_ebony         { background-color: $a_ebony;       }
._a_green         { background-color: $a_green;       }
._a_magenta       { background-color: $a_magenta;     }
._a_orange        { background-color: $a_orange;      }
._a_plum          { background-color: $a_plum;        }
._a_teal          { background-color: $a_teal;        }
._a_d_ebony       { background-color: $a_d_ebony;     }
._a_d_green       { background-color: $a_d_green;     }
._a_d_magenta     { background-color: $a_d_magenta;   }
._a_d_orange      { background-color: $a_d_orange;    }
._a_d_plum        { background-color: $a_d_plum;      }
._a_d_teal        { background-color: $a_d_teal;      }
._e_d_warmgray    { background-color: $e_d_warmgray;  }
._e_m_warmgray    { background-color: $e_m_warmgray;  }
._e_amber         { background-color: $e_amber;       }
._e_aqua          { background-color: $e_aqua;        }
._e_blue          { background-color: $e_blue;        }
._e_brown         { background-color: $e_brown;       }
._e_eggplant      { background-color: $e_eggplant;    }
._e_purple        { background-color: $e_purple;      }
._e_spruce        { background-color: $e_spruce;      }
._e_d_amber       { background-color: $e_d_amber;     }
._e_d_aqua        { background-color: $e_d_aqua;      }
._e_d_blue        { background-color: $e_d_blue;      }
._e_d_brown       { background-color: $e_d_brown;     }
._e_d_eggplant    { background-color: $e_d_eggplant;  }
._e_d_purple      { background-color: $e_d_purple;    }
._e_d_spruce      { background-color: $e_d_spruce;    }
._n_d_gray        { background-color: $n_d_gray;      }
._n_l_gray        { background-color: $n_l_gray;      }
._n_air           { background-color: $n_air;         }
._n_aquablue      { background-color: $n_aquablue;    }
._n_breeze        { background-color: $n_breeze;      }
._n_khaki         { background-color: $n_khaki;       }
._n_stone         { background-color: $n_stone;       }
._cool            { background-color: $cool;          }
._norm            { background-color: $norm;          }
._norm3           { background-color: $norm_3;        }
._norm4           { background-color: $norm_4;        }
._cool5           { background-color: $cool_5;        }
._warm            { background-color: $warm;          }
._warm2           { background-color: $warm_2;        }
._warm3           { background-color: $warm_3;        }
._warm5           { background-color: $warm_5;        }
._warm6           { background-color: $warm_6;        }
._gray            { background-color: $gray;          }
._headA           { background-color: $headA;         }
._headB           { background-color: $headB;         }
._headC           { background-color: $headC;         }
._shad            { background-color: $shad;          }
._shal            { background-color: $shal;          }
._hilite          { background-color: $hilite;        }
._link            { background-color: $link;          }
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
