/* CORE / definitions */
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
@import "compass/css3";
@import "compass/css3/user-interface";

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// ANI
$default-transform: translate3d(0,0,0);
$default-transition-delay   : false;
$default-transition-duration: 0.5s;
$default-transition-property: all;
$default-transition-function: ease-in;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// EFFECTS
$hilite: rgba(255,255, 99, 0.5);
$shad:   rgba(  0,  0,  0, 0.6);
$shal:   rgba(  0,  0,  0, 0.3);

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// MEASURE
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
